<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Room</title>
</head>
<body>
    <form>
        {% csrf_token %}
        <label>
            Room Name:
            <input type="text" name="name">
        </label>
        <label>
            Capacity:
            <input type="number" name="capacity">
        </label>
        <label>
            Projector?
            <input type="radio" value="0" name="projector">No
            <input type="radio" value="1" name="projector">Yes
        </label>
    </form>
</body>
</html>