{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static "base.css" %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Conference Room Management{% endblock %}</title>
</head>
<body>
<div>
    <a href="/all-rooms/">All Rooms</a>
    <a href="/room/new/">Add Room</a>
</div>
<div class="searcher">
    <h2>Search:</h2>
    <form action="/search" method="get">
        <label>
            Name:
            <input type="text" name="search_name">
        </label>
        <label>
            Capacity:
            <input type="number" name="search_capacity" value="0">
        </label>
        <label>
            Projector?
            <input type="radio" name="search_projector " value="1" id="yes">
            <label for="yes">Yes</label>
            <input type="radio" name="search_projector " value="0" id="no">
            <label for="no">No</label>
        </label>
        <button type="submit">Search</button>
    </form>
</div>
<footer>
    <p>Author: Wojciech Pindel</p>
    <p><a href="mailto:wojciech170@gmail.com">wojciech170@gmail.com</a></p>
</footer>

</body>
</html>